$none: none;
$color-black: black;

@font-face {
  font-family: "vazir";
  src: url(./font/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: $none;
  list-style: $none;
  overflow-x: hidden;
}
body {
  position: relative;
  min-height: 150vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  justify-content: flex-start;
  margin: 15px 4rem;
  div {
    padding: 0px 2rem;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    padding: 0px 1rem;
    font-family: "vazir";
  }
  a {
    color: $color-black;
    &:hover {
      color: white;
      background-color: $color-black;
      transition: 0.3s;
      border-radius: 10px;
      &:active {
        color: red;
        background: $color-black;
      }
    }
  }
}

.img {
  width: 100vw;
  z-index: -2;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.avatar {
  position: absolute;
  top: 9%;
  right: 38%;
  text-align: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  p {
    font-family: "vazir";
    font-size: 20px;
  }
  .p-1 {
    font-size: 25px;
  }
}

.connect {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 3%;
  img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    text-align: center;
    padding: 0px 10rem;
    font-family: "vazir";
  }
}

footer {
  background-color: rgb(136, 136, 136);
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-around;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    padding: 0px 2px;
  }
}

.end {
  font-size: 20px;
  color: $color-black;
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 35vh;
  align-items: flex-end;
  position: relative;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  p {
    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}
@media (min-width: 450px) and (max-width: 639px) {
  header {
    font-size: 14px;
    margin: 10px;
    div {
      padding: 0px 1rem;
    }
    li {
      padding: 0px 1rem;
    }
  }

  .avatar {
    text-align: center;
    position: absolute;
    top: 7%;
    left: 37%;
    img {
      display: none;
    }
    p {
      font-size: 15px;
      display: flex;
      justify-content: center;
    }
  }
  .connect {
    height: 80vh;
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
    }
    ul {
      display: flex;
      flex-direction: column;
    }
    p {
      font-size: 15px;
    }
  }
  footer {
    ul {
      display: flex;
      justify-content: space-around;
    }
    img {
      width: 40px;
      height: 40px;
      padding: 0px 5px;
    }
  }
  .end {
    height: 25vh;
    align-items: center;
  }
}
@media (min-width: 640px) and (max-width: 1007px) {
  .avatar {
    position: absolute;
    top: 8%;
    right: 30%;
  }
  .connect {
    height: 100vh;
    ul {
      flex-direction: column;
    }
    li {
      padding: 15px 10rem;
    }
  }

  footer {
    height: 40vh;

    img {
      width: 60px;
      height: 70px;
    }
  }
  .end {
    height: 25vh;
    align-items: center;
  }
}
@media (min-width: 1008px) {
  .connect {
    height: 40vh;
    display: flex;
    margin-top: 10%;
    text-align: center;
    li {
      padding: 0px 5rem;
    }
  }
  footer {
    height: 40vh;

    img {
      width: 80px;
      height: 70px;
    }
  }
  .end {
    display: flex;
    height: 55vh;
    position: absolute;
    bottom: 4%;
  }
}
